<template>
  <div>
    <div class="padded-box">Current City: {{this.currentCity}}</div>
    <div>
      <b-alert variant="dark" dismissible fade :show="showDismissibleAlert" @dismissed="showDismissibleAlert=false">Moved to {{currentCity}}</b-alert>
    </div>
    <div class="spacer"></div>
     <b-button-group>
      <div v-bind:key="city" v-for="city in cities">
        <b-button type="button" variant="light" v-on:click="changeCity(city)" @click="emitGlobalClickEvent()">{{city}}</b-button>
      </div>
     </b-button-group>
  </div>
</template>

<script>
import { EventBus } from '../event-bus.js'

export default {
  name: 'Cities',
  props: ["cities"],
  data() {
    return {
      currentCity: 'A nook somewhere',
      showDismissibleAlert: false
    }
  },
  methods: {
    changeCity: function(destination) {
      this.currentCity = destination
      this.showDismissibleAlert = true
    },
    
    emitGlobalClickEvent() {
      EventBus.$emit('city-changed')
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.padded-box {
    color: white;
    border: 5px solid lightgray;
    background: lightgray;
    padding: 20px;
    display:inline-table;
}
</style>
