<template>
    <div class="stash-box">
        <div  v-bind:key="product" v-for="product in products">        
            <div class="align-left" v-bind:key="product">
                <p>{{product.name}}</p>
            </div>
            <div class="align-center" v-bind:key="product">
                <p>{{product.quantity}}</p>
            </div>
            <div class="align-right" v-bind:key="product">
                <p>{{product.currentPrice}}</p> 
            </div>
            <b-button-group style="padding-left:10px">
            <b-button type="button" variant="outline-success">Buy</b-button>
            <b-button type="button" variant="outline-danger">Sell</b-button>
            </b-button-group>
        </div>
    </div>
</template>

<script>
import { EventBus } from '../event-bus.js'

export default {
    data() {
        return {
            products: [
                {
                    'name':'Mini Compass Card',
                    'lastPrice': 0,
                    'currentPrice': 0,
                    'priceMin': 10,
                    'priceMax': 80,
                    'quantity': 0
                },
                {
                    'name': 'Vape',
                    'lastPrice': 0,
                    'currentPrice': 0,
                    'priceMin': 100,
                    'priceMax': 750,
                    'quantity': 0
                },
                {
                    'name': 'Canada Goose Jacket',
                    'lastPrice': 0,
                    'currentPrice': 0,
                    'priceMin': 750,
                    'priceMax': 6500,
                    'quantity': 0
                },
                {
                    'name': 'Yeezys',
                    'lastPrice': 0,
                    'currentPrice': 0,
                    'priceMin': 75,
                    'priceMax': 650,
                    'quantity': 0
                },
                {
                    'name': 'Bitcoin',
                    'lastPrice': 0,
                    'currentPrice': 0,
                    'priceMin': 1250,
                    'priceMax': 15000,
                    'quantity': 0
                },
                {
                    'name': 'Airpods',
                    'lastPrice': 0,
                    'currentPrice': 0,
                    'priceMin': 35,
                    'priceMax': 245,
                    'quantity': 0
                }
            ]
        }
    },
    
    methods: {
        randomizePrice: function(){
            let min, max
            this.products.forEach(element => {
                min = Math.ceil(element.priceMin)
                max = Math.floor(element.priceMax)
                element.currentPrice =  Math.floor(Math.random() * (max - min + 1)) + min
            })
        }
    },

    created() {
        EventBus.$on('city-changed', this.randomizePrice)
        this.randomizePrice()
    },

    beforeDestroy() {
        EventBus.$off('city-changed')
    }
}
</script>

<style scoped>
.stash-box {
    border: 5px solid lightgray;
    background: white;
    padding: 20px;
    display:inline-table;
}

.align-left{
    width: 200px;
    color: black;
    text-align: left;
    display: inline-block
}

.align-center{
    width: 50px;
    color: black;
    text-align: center;
    display: inline-block
}

.align-right{
    width: 50px;
    color: black;
    text-align: right;
    display: inline-block
}

</style>