<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/eh.jpg">
    <div class="spacer"></div>
    <Cities v-bind:cities="cities"/>
    <div class="spacer"></div>
    <Stash v-bind:products="products"/>
  </div>
</template>

<script>
import Cities from './components/Cities.vue'
import Stash from './components/Stash.vue'

export default {
  name: 'app',
  components: {
    Cities,
    Stash
  },
  data() {
    return {
      cities: [
        'East Hastings',
        'Kitsilano',
        'West Van',
        'North Van',
        'Marpole',
        'Surrey'
      ],
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.spacer{
  padding: 5px
}
</style>
